<div ng-app="myApp">
    <div id="logInDiv" align="right" sec:authorize="isAnonymous()">
        <form name="logInForm" method="POST" th:action="@{#/home}">
            <table id="logInTable">
                <tr>
                    <td><label id="nameLabel" for="usernameInput">Username:</label>
                        <div class="formErrors" ng-messages="logInForm.email.$error"
                             ng-show="logInForm.email.$touched">
                            <p ng-show="logInForm.email.$error.required" class="wrongLoginInput">Email is empty.</p>
                            <p ng-show="logInForm.$error.email" class="wrongLoginInput">Enter email</p>
                            <!--  <div ng-show="registerForm.email.$error" class="wrongInput" ng-messages-include="messages.html"></div> -->
                        </div>
                        <div class='wrongInput'>{{emailValidationError}}</div>
                    </td>
                    <td>
                        <input type="email" id="usernameInput" name="email" ng-model="email"
                               th:required="true"/> &nbsp;
                    </td>
                </tr>
                <tr>
                    <td><label id="passwordLabel" for="passwordInput">Password:</label>
                        <div class="formErrors" ng-messages="registerForm.password.$error"
                             ng-show="logInForm.password.$touched">
                            <p ng-show="logInForm.password.$error.required" class="wrongLoginInput">Email is empty</p>
                            <!-- <div ng-show="registerForm.password.$error" class="wrongInput" ng-messages-include="messages.html"></div> -->
                        </div>
                    </td>
                    <td>
                        <input type="password" id="passwordInput" name="password" th:required="true"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <!-- <input type = "submit" name="submitButton" value="LogIn">
                        <button type="submit" name="logInButton" formaction="@{/logIn}">LogIn</button> -->
                        <input type="submit" name="logInButton" value="LogIn"/>
                    </td>
                </tr>
            </table>
        </form>
        Have no account yet?&nbsp;
        <a href="#/register">SignIn</a>
    </div>
</div>
<div class="container">
    <br/>
    <h5>Home</h5>
    <p>Java Tutorial Blog
        <br/><br/>
        Java Papers is a Java blog and tutorial website. Java Papers is passionately published by Joe for eight
        successful years. It has served millions of views and is one of the most popular Java blog in the Java
        community. Articles and tutorial published are of Java, Android, design patterns, web services, Spring
        framework, Servlets and JSP technologies.
        <br/>Java Papers helps to refresh your Java knowledge, keep updated with
        latest news, prepare for Java interviews and certifications.
        <br/>Welcome!</p>
</div>
