 <div ng-app="myApp" ng-controller="registerController">
     {{scope.errorUsername}}
     {{scope.errorEmail}}
     {{scope.statusCode}}
     <!-- <form name="registerForm" th:method="POST" th:action="@{#/register}" OR ng-submit="validate()"> -->
     <form name="registerForm" method="POST" ng-submit="validateRegistration()" th:object="${login}">
        <table id="registerTable">
            <caption>Please fill in the form below:</caption>
            <tr>
                <td style="width:30%"><label id="nameLabel" class="inputLabel"
                                             for="nameInput">Username<sup>*</sup>:</label>&nbsp;
                    <div class="formErrors" ng-messages="registerForm.username.$error"
                         ng-show="registerForm.username.$touched">
                        <p ng-show="registerForm.username.$error.minlength" class="wrongInput">Must be at least 4 chars.</p>
                        <p ng-show="registerForm.username.$error.maxlength" class="wrongInput">Must be less than 16 chars.</p>
                        <p ng-show="registerForm.username.$error.required" class="wrongInput">Username is empty.</p>
                      <!--  <div ng-show="registerForm.username.$error" class="wrongInput" ng-messages-include="messages.html"></div> -->
                    </div>
                    <div class='wrongInput'>
                        {{usernameValidationError}}
                    </div>
                </td>
                <td>
                    <input type="text" id="nameInput" name="username" class="inputText" ng-model="account.username"
                           ng-minlength="4" ng-maxlength="15" ng-required="true" th:field="*{username}"/>
                </td>

            </tr>
            <tr>
                <td><label id="passwordLabel1" class="inputLabel" for="passInput">Password<sup>*</sup>:</label>&nbsp;
                    <div class="formErrors" ng-messages="registerForm.password.$error"
                         ng-show="registerForm.password.$touched">
                        <p ng-show="registerForm.password.$error.minlength" class="wrongInput">Must be at least 8 chars.</p>
                        <p ng-show="registerForm.password.$error.required" class="wrongInput">Password is empty.</p>
                       <!-- <div ng-show="registerForm.password.$error" class="wrongInput" ng-messages-include="messages.html"></div> -->
                    </div>
                    <div class='wrongInput'>{{passwordValidationError}}</div>
                </td>
                <td>
                    <input type="password" id="passInput" name="password" class="inputText" ng-model="account.password"
                           ng-minlength="8" ng-required="true" th:field="*{password}" />
                </td>
            </tr>
            <tr>
                <td><label id="passwordLabel2" class="inputLabel" for="passwordInput2">Repeat
                    password:<sup>*</sup></label></td>
                <td>
                    <input type="password" id="passwordInput2" name="password2" class="inputText" ng-model="account.password2"
                           th:required="true" th:field="*{password2}"/>

                </td>
            </tr>
            <tr>
                <td><label id="emailLabel" class="inputLabel" for="emailInput">E-mail<sup>*</sup>:</label>&nbsp;
                    <div class="formErrors" ng-messages="registerForm.email.$error"
                         ng-show="registerForm.email.$touched">
                        <p ng-show="registerForm.email.$error.required" class="wrongInput">E-mail is empty.</p>
                        <p ng-show="registerForm.$error.email" class="wrongInput">Wrong e-mail format.</p>
                      <!--  <div ng-show="registerForm.email.$error" class="wrongInput" ng-messages-include="messages.html"></div> -->
                    </div>
                    <div class='wrongInput'>{{emailValidationError}}</div>
                </td>
                <td>
                    <input type="email" id="emailInput" name="email" class="inputText" ng-model="account.email" th:field="*{email}"
                           ng-required="true"/>
                </td>
            </tr>
            <tr>
                <td><label id="firstNameLabel" class="inputLabel" for="firstNameInput">First name:</label></td>
                <td>
                    <input type="text" id="firstNameInput" name="firstName" class="inputText" ng-model="account.firstName" th:field="*{firstName}"
                           th:required="false"/>
                </td>
            </tr>
            <tr>
                <td><label id="lastNameLabel" class="inputLabel" for="lastNameInput">Last name:</label></td>
                <td>
                    <input type="text" id="lastNameInput" name="lastName" class="inputText" ng-model="account.lastName" th:field="*{lastName}"
                           th:required="false"/>
                </td>
            </tr>
            <tr>
                <td colspan="2"><i>* - required fields</i></td>
            </tr>
            <tr>
                <td colspan="2" id="submitButton">
                    <div align="right">
                    <!--    <button type="submit" name="registerButton" value="register" ng-click="validate()">Register -->
                        <button type="submit" id = "submit" name="registerButton" value="register">Register
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    {{scope.errorUsername}}
    {{scope.errorEmail}}
    {{scope.statusCode}}
</div>